.dashboard-section {
  width: 100%;
  height: auto;
  background-color: black;
}

.dashboard-section .dashboard-container {
  /* display: flex; */
  color: aliceblue;
  height: inherit;
}

.dashboard-container .dashboard-header {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  padding: 0 10px;
  height: 50px;
  margin-bottom: 30px;
}

.dashboard-header .logo {
  width: 80px;
  height: 80px;
}

.dashboard-header .dashboard-nav {
  display: flex;
  gap: 10px;
  background-color: aliceblue;
  padding: 10px;
  position: relative;
  border-radius: 10px;
}
.dashboard-header .dashboard-nav .d-nav-item {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  transition: all 300ms;
  cursor: pointer;
}

.dashboard-nav .d-nav-item:active {
  color: teal;
}

.dashboard-nav .d-nav-item:not(:active) {
  color: black;
}

.dashboard-nav .d-nav-item:hover {
  transform: translateY(5px);
  color: #333;
}

.dashboard-header .static-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 300ms;
}

.static-icon:hover {
  color: red;
  transform: scale(1.2);
}

/* user section styles */
.dashboard-container .user-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  height: 300px;
}

.user-section .dashboard-info .dashboard-user-info .greetings {
  font-size: 3rem;
  filter: drop-shadow(7px 4px 10px aliceblue);
}

.wrap-circles {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #000;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: aliceblue;
  overflow: hidden;
}

.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #000;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}

.dashboard-container .investment-history {
  display: flex;
  justify-content: center;
  height: 200px;
}

.investment-history .table {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 50%;
  height: 100px;
  color: #333;
  background-color: aliceblue;
  box-shadow: 0px 2px 6px 5px aliceblue;
  border-radius: 5px;
  animation: slide-in 1s linear forwards;
  transition: all 300ms;
}

.table::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  filter: drop-shadow(5px -1px 6px aliceblue);
  animation: blink 1.5s infinite;
  transition: all 300ms;
}

@keyframes slide-in {
  0% {
    opacity: 0.7;
    width: 90%;
  }
  100% {
    opacity: 1;
    width: 50%;
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
    transform: scale(0.1);
  }
  25% {
    opacity: 0.25;
    transform: scale(0.25);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  75% {
    opacity: 0.75;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.investment-history .table:hover {
  box-shadow: none;
}

.investment-history .table .table-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.table-list li {
  width: 100%;
  font-weight: 500;
}

/* inventory section */
.dashboard-container .inventory-section {
  height: auto;
  padding: 10px;
}

.inventory-section .inventory-box .inventory-heading .inventory-title {
  font-size: 5rem;
}

.inventory-heading .inventory-text {
  font-size: 3rem;
}

.inventory-box .inventory-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.kyc {
  height: 600px;
}

.kyc .kyc-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}

.kyc .kyc-box .kyc-heading .kyc-title {
  font-size: 4rem;
}

.kyc-heading .kyc-subtitle {
  font-size: 2rem;
}

.kyc-box .kyc-form-box {
  width: 50%;
  height: auto;
  color: #000;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 5px aliceblue;
}

.kyc-form-box .kyc-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.kyc-form .kyc-input-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.kyc-form .kyc-input {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 5px;
  width: 100%;
}

.kyc-form .kyc-input-group .kyc-input input {
  width: 70%;
}

.kyc-input input[type=file] {
  width: 50%;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  /* border: 1px solid #555; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.kyc-input input[type=text] {
  width: 70%;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.kyc-input input[type=date] {
  width: 90%;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #333;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #ccc;
}

.kyc-form button {
  width: 50%;
  height: 30px;
  border: none;
  outline: none;
  color: aliceblue;
  border-radius: 20px;
  background: teal;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.kyc-form button:hover {
  background: darkcyan;
}

/* investment styles */

.invest {
  height: 600px;
}

.invest .invest-box {
  height: inherit;

}

.invest .invest-box .invest-heading {
  width: 70%;
  padding: 10px;
}

.invest .invest-box .invest-heading .invest-title {
  font-size: 4rem;
}

.invest-heading .invest-subtitle {
  font-size: 2rem;
}

.invest-box .invest-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invest-box .invest-form-box {
  width: 300px;
  height: auto;
  color: #000;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 5px aliceblue;
}

.invest-form-box .invest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.invest-form .invest-input-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.invest-form .invest-input {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 5px;
  width: 100%;
}

.invest-input input[type=file] {
  width: 50%;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  /* border: 1px solid #555; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.invest-form input[type=number] {
  width: 70%;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.invest-form button {
  width: 50%;
  height: 30px;
  border: none;
  outline: none;
  color: aliceblue;
  border-radius: 20px;
  background: teal;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.invest-form button:hover {
  background: darkcyan;
}

/* profile section styles */

.profile {
  height: 800px;
}

.profile .profile-box {
  height: inherit;
  padding: 10px;
}

.profile .profile-box .profile-heading {
  width: 70%;
  padding: 10px;
}

.profile .profile-box .profile-heading .profile-title {
  font-size: 4rem;
}

.profile-heading .profile-subtitle {
  font-size: 2rem;
}

.profile-box .profile-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.profile-form-box .profile-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 80%;
  height: auto;
  color: #000;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 5px aliceblue;
}

.profile-form .profile-input-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-form .profile-input {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 5px;
  width: 100%;
}

.profile-input input:read-only, textarea:read-only {
  color: #444;
}

.profile-input input, textarea {
  width: 90%;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile-form button {
  width: 50%;
  height: 30px;
  border: none;
  outline: none;
  color: aliceblue;
  border-radius: 20px;
  background: teal;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.profile-form button:hover {
  background: darkcyan;
}

.error-message {
  color: teal;
}



.footer-section {
  background-color: black;
}

.footer-section
  .footer-section-container
  .footer-section-box
  .footer-section-heading {
  color: white;
}

.footer-section
  .footer-section-container
  .footer-section-box
  .footer-section-heading
  .footer-section-subtitle {
  color: white;
}

.footer-section
  .footer-section-container
  .footer-section-box
  .footer-section-body {
  color: white;
}

.footer-section-body .footer-section-form span {
  color: teal;
  font-weight: 500;
  transition: all 300ms;
}

.fade-up {
  font-size: 13px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}

.fade-up.active {
  opacity: 1;
  transform: translateY(0);
}

.footer-section-body .footer-section-form .news-input .input {
  color: aliceblue;
}

.footer-section
  .footer-section-container
  .footer-section-box
  .footer-section-body
  span
  a {
  color: white;
}

.isLoggedOut {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: aliceblue;
  background-color: black;
  font-size: 4rem;
}
