/* login styles */

.login-section {
    height: 100vh;
    display: grid;
    place-items: center;
}

.login-section .login-section-container {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section-container .login-section-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("col-bgimage-3.jpg");
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.login-section-box .login-section-heading {
    text-align: center;
    color: aliceblue;
}

.login-section-heading .login-section-title {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 300ms;
    width: 150px;
    height: 150px;
}

.login-section-title .logo {
    width: inherit;
    height: inherit;
}

.login-section-title:hover {
    color: aliceblue;
}

.login-section-heading .login-section-text {
    margin-top: -20px;
}

.login-section-body {
    width: 100%;
}

.login-section-body .login-section-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.login-section-body .login-section-form .login-section-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-section-input label {
    text-transform: capitalize;
    color: rgba(229, 231, 232, 0.891);
}

.login-section-input input {
    background: rgba(0, 0, 0, 0.3);
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.login-section-input input:focus-within {
    outline: 2px solid white;
    background: rgba(3, 10, 60, 0.3);
}

.login-section-body .login-section-form .login-section-btn {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: color 300ms, background-color 300ms;
}

.login-section-form .login-section-btn:hover {
    color: black;
    background-color: aliceblue;
}

.login-section-body .login-section-link {
    color: white;
    font-weight: 400;
    text-decoration: none;
    transition: color 300ms;
}

.login-section-link:hover {
    color: darkcyan;
}

.login-section-box .login-section-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
}

.login-section-footer .social-media {
    display: grid;
    place-items: center;
    text-decoration: none;
    text-align: center;
    color: #333;
    margin: 0 10px;
    padding: 5px;
    transition: all 300ms;
}

.social-media:nth-child(1):hover {
    color: black;
    background: white;
    border-radius: 5px;
}

.social-media:nth-child(2):hover {
    color: white;
    background: orangered;
    border-radius: 5px;
}

.social-media:nth-child(3):hover {
    color: white;
    background: skyblue;
    border-radius: 5px;
}


/* sign-up styles */

.signup-section {
    height: 100vh;
    display: grid;
    place-items: center;
}

.signup-section .signup-section-container {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-section-container .signup-section-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("col-bgimage-3.jpg");
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    width: 100%;
    height: 95%;
    border-radius: 10px;
}

.signup-section-box .signup-section-heading {
    text-align: center;
    color: aliceblue;
}

.signup-section-heading .signup-section-title {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 300ms;
    width: 100px;
    height: 100px;
}

.signup-section-title .logo {
    width: inherit;
    height: inherit;
}

.signup-section-body {
    width: 100%;
}

.signup-section-heading .signup-section-text {
    margin-top: -20px;
}

.signup-section-body .signup-section-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.signup-section-body .signup-section-form .signup-section-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signup-section-input label {
    text-transform: capitalize;
    color: rgba(229, 231, 232, 0.891);
}

.signup-section-input input {
    background: rgba(0, 0, 0, 0.3);
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.signup-section-input input:focus-within {
    outline: 2px solid white;
    background: rgba(3, 10, 60, 0.3);
}

.signup-section-input input:invalid {
    outline: 2px solid red;
    animation: shake 300ms;
}

@keyframes shake {
    0%, 100% { transform: translate(0);}
    25% { transform: translate(0.2rem);}
    75% { transform: translate(-0.2rem);}
}

.signup-section-body .signup-section-form .signup-section-btn {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: color 300ms, background-color 300ms;
}

.signup-section-form .signup-section-btn:hover {
    color: black;
    background-color: aliceblue;
}

.signup-section-body .signup-section-link {
    color: white;
    font-weight: 400;
    text-decoration: none;
    transition: color 300ms;
}

.signup-section-link:hover {
    color: darkcyan;
}

.signup-section-box .signup-section-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
}

.signup-section-footer .social-media {
    display: grid;
    place-items: center;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0 10px;
    padding: 5px;
    transition: all 300ms;
}



/* login section responsive styles */

@media screen and (max-width: 768px) {
    .login-section {
        height: 100vh;
        display: flex;
    }
    
    .login-section .login-section-container {
        width: 300px;
        margin: 0 20px;
    }

    .login-section-heading .login-section-title {
        width: 80px;
        height: 80px;
    } 
    
    .login-section-body .login-section-form .login-section-input {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .login-section-body .login-section-form .login-section-btn {
        width: 30%;
        height: 30px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
    }
    
    .login-section-body .login-section-link {
        font-size: 13px;
    }

    .login-section-footer .social-media {
        color: white;
    }

    /* signup responsive styles */
    .signup-section {
        height: 100vh;
        display: flex;
    }
    
    .signup-section .signup-section-container {
        width: 300px;
        margin: 0 10px;
    }

    .signup-section-container .signup-section-box {
        height: 80%;
    }

    .signup-section-heading .signup-section-title {
        width: 80px;
        height: 80px;
    }

    .signup-section-body .signup-section-form {
        margin-bottom: 2px;
    }
    
    .signup-section-body .signup-section-form .signup-section-input {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .signup-section-input label {
        font-size: 14px;
    }

    .signup-section-input input {
        font-size: 14px;
    }
    
    .signup-section-body .signup-section-form .signup-section-btn {
        width: 30%;
        height: 30px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
    }
    
    .signup-section-body .signup-section-link {
        font-size: 12px;
    }
}

.alert {
    display: flex;
    position: absolute;
    bottom: 10px;
    z-index: 100;
    width: 300px;
    height: 20px;
    background: rgba(255, 255, 255, 0.982);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #333;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    opacity: 0;
    animation: alert 3s forwards;
    transition: all 300ms;
}

.alert.hidden {
    visibility: hidden;
}

@keyframes alert {
    0% {
        opacity: 0;
        bottom: -100px;
        transform: scale(0.5);
        transition: all 300ms;
    }
    100% {
        opacity: 1;
        bottom: 10px;
        transform: scale(1);
        transition: all 300ms;
    }
}

.alert.alert-danger {
    color: red;
}

.alert.alert-success {
    color: green;
}